@import '../../sass/variables'

.page-profile
	.aside
		.profile
			&__photo
				background-color: $gray2
				border-radius: 50%
				margin: 0 auto
				
				width: 250px
				height: 250px
				overflow: hidden
				position: relative

				&-current-photo
					height: 100%
					width: 100%
					object-fit: cover

				&-upload
					position: absolute
					width: 100%
					height: 100%
					top: 0
					left: 0
					transition: 1s

					&::before
						content: "EDIT"
						position: absolute
						top: 0
						left: 0

						height: 100%
						width: 100%
						border-radius: 50%

						background-color: rgba(0, 0, 0, 0)
						cursor: pointer
						color: transparent
						@include flex-center

						transition: .2s
					
					&:hover::before
						background-color: rgba(0, 0, 0, .5)
						color: $gray3

					&-input
						display: none

					&-show
						height: 100%
						width: 100%
						object-fit: cover
		
		.user-panel
			&-buttons
				display: flex
				justify-content: flex-end
				gap: 10px
				margin: 0 50px 50px 0

				&-btn
					text-transform: uppercase
					padding: 5px
					cursor: pointer
