.profile-id
	padding: 15px
	display: flex
	align-items: center

	&__photo
		height: 50px
		width: 50px
		border-radius: 50%
		overflow: hidden
		cursor: pointer

		&-img
			width: 100%
			height: 100%
			background-image: url("../../assets/template/user-small.png")
			object-fit: cover

	&__name
		padding: 0 10px
		font-size: 1.1rem
		cursor: pointer
