@import "../assets/styles/var"


.prot-routes
  width: 100vw
  height: 100vh

  overflow-y: scroll
  overflow-x: hidden

  display: flex
  flex-direction: column

  background-color: $dark-theme1

  .main
    flex-grow: 1
    padding: 20px 0

    .wrapper
      margin: auto
      max-width: 1200px
      display: flex
      flex-wrap: wrap
      justify-content: center
      gap: 20px


